<div data-ng-controller="sidebar as vm">
    <ul id="sidebar_menu" class="sidebar-nav">
        <li class="sidebar-brand">
            <a id="menu-toggle" style="text-shadow: none !important;" data-ng-click="toggleSide()">SWGSource
                <i id="main_icon" class="fa fa-2x fa-align-justify fa-pull-right" style="margin-right: -15px !important;"></i>
            </a>
        </li>
    </ul>
    <ul class="sidebar-nav" id="sidebar">
        <li class="fade-selection-animation" data-ng-class="vm.isCurrent(r)" data-ng-repeat="r in vm.navRoutes">
            <a href="{{r.url}}" data-ng-bind-html="r.config.settings.content"></a>
        </li>
    </ul>
    <!--    <form class="form-inline">
                <div class="form-group">
                    <input type="text" class="form-control-md" id="searchInput" placeholder="Search" data-ng-model="vm.searchText" data-ng-keyup="vm.search($event)">
                    <a class="btn btn-notext form-control-md" data-ng-click="vm.search($event)">
                        <i class="fa fa-1x fa-search"></i>
                    </a>
                </div>
            </form> -->
</div>