<nav class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Menu button for smallar screens -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            </a>
            <!-- Site name for smallar screens -->
            <h3 class="ss-logo svg-inline--fa">
                <a class="text-light" href="/">
                    <i class="fab fa-empire"></i> SWGSource NGE 2.0</a>
            </h3>

            <!-- Navigation starts -->
            <div class="nav-collapse collapse">

                <div class="fa-align-justify navbar-logo">
                </div>
            </div>
        </div>
    </div>
</nav>