.ng-cloak {
display: none !important;
}

footer {
  padding-left: 15px;
  padding-right: 15px;
}
footer p {
  border-top: 1px solid #d7e0e2;
}
.top-padding-med {
  padding-top: 10px;
}
.margin-left-med {
  margin-left: 10px;
}
.toast-top-right {
  position: fixed;
  top: 92% !important;
  right: 3% !important;
  margin-right: 0% !important;
}
.toast-success {
  background-color: #a5a5a5ec !important;
  color: #c4b924 !important;
  text-shadow: 1px 1px 1px  #80791d, 1px 0px 2px #817b1c !important;
  font-weight: 600;
}
.toast-warning {
    background-color: #f1a234b6;
}

#wrapper {
    padding-left: 70px;
    transition: all .35s ease 0.1s;
    height: 100%;
}

#sidebar-wrapper {
    margin-left: -300px;
    left: 50px;
    width: 300px;
    background: linear-gradient(0deg, #000000af, #181b46a8) no-repeat;
    position: fixed;
    height: 100%;
    transition: all .35s ease 0.1s;
}

.sidebar-nav {
    display: block;
    float: left;
    width: 300px;
    list-style: none;
    margin: 0;
    padding: 0;
}
#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
    padding-top:2em;
}
#wrapper.active {
    padding-left: 300px;
}
#wrapper.active #sidebar-wrapper {
    left: 300px;
}

#page-content-wrapper {
width: 100%;
}

#sidebar_menu li a, .sidebar-nav li a {
    color: rgb(255, 255, 255);
    display: block;
    float: left;
    width: 300px;
    background:#08080879;
    border-top: 1px solid #000000a8;
    border-bottom: 1px solid #000000a8;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}
.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: 0.85;
}

.sidebar-nav li {
line-height: 39px;
text-indent: 20px;
text-decoration: none;
}

.sidebar-nav li a {
color: #ffffff;
display: block;
text-decoration: none;
padding-right: 10px;
-ms-flex-align: center;
-moz-box-align: center;
}

.sidebar-nav li a:hover {
color: #e99218;
background:#000000;
text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
height: 65px;
line-height: 60px;
font-size: 25px;
}

.sidebar-nav > .sidebar-brand a {
color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
 color: #ffffff;
background: none;
/* color: rgb(251, 255, 0); */
/* font-size: larger; */
}

#main_icon
{
    float:right;
    padding-right: 20px;
    padding-top:22px;
    cursor: pointer !important;
}

#main_icon:hover {
    color: rgb(251, 255, 0);
}
/* cursor: url('path-to-image.png'), auto; */

@media (max-width:767px) {
    #wrapper {
    padding-left: 70px;
    transition: all .3s ease 0s;
}
#sidebar-wrapper {
    left: 70px;
}
#wrapper.active {
    padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 300px;
    transition: all .3s ease 0s;
}
}

/*bootstrap custom*/
.pull-right {
    float: right !important;
    margin: 13px;
    margin-right: 22px;
}

/*#region Splash */
#splash-page {
z-index: 99999 !important;
}

#splash-page .bar {
    width: 100%;
}

.page-splash {
z-index: 99999 !important;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgb(92, 92, 92);
opacity: .9;
pointer-events: auto;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
-o-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: opacity 0.3s linear;
-moz-transition: opacity 0.3s linear;
-o-transition: opacity 0.3s linear;
transition: opacity 0.3s linear;
}

.page-splash-message {
text-align: center;
margin: 20% auto 0 auto;
font-size: 400%;
font-family: "Segoe UI", Arial, Helvetica, sans-serif;
font-weight: normal;
-webkit-text-shadow: 2px 2px #000000;
text-shadow: 2px 2px #000000;
text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
text-transform: uppercase;
text-decoration: none;
color: rgb(252, 143, 0);
padding: 0;
}

.page-splash-message.page-splash-message-subtle {
    margin: 30% auto 0 auto;
    font-size: 200%;
}

.progress,
.page-progress-bar {
margin: 30px 10% !important;
}

.spinner {
margin: 20% auto 0 auto;
left: auto;
top: auto !important;
}
/*#region Angular ng-include, ng-view, ng-repeat shuffle animations*/

.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
position: relative;
}

.shuffle-animation.ng-enter {
-moz-transition: ease-out all 0.3s 0.4s;
-o-transition: ease-out all 0.3s 0.4s;
-webkit-transition: ease-out all 0.3s 0.4s;
transition: ease-out all 0.3s 0.4s;
left: 2em;
opacity: 0;
}

.shuffle-animation.ng-enter.ng-enter-active {
    left: 0;
    opacity: 1;
}

.shuffle-animation.ng-leave {
-moz-transition: 0.3s ease-out all;
-o-transition: 0.3s ease-out all;
-webkit-transition: 0.3s ease-out all;
transition: 0.3s ease-out all;
left: 0;
opacity: 1;
}

.shuffle-animation.ng-leave.ng-leave-active {
    left: 2em;
    opacity: 0;
}
/*#endregion*/

/*#region Angular ng-include, ng-view, ng-repeat fader animation */
.fader-animation.ng-enter,
.fader-animation.ng-leave,
.fader-animation.ng-move {
position: relative;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave {
-webkit-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
-moz-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
-o-transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
transition: cubic-bezier(0.250, 0.460, 0.450, 0.940) all 0.5s;
opacity: 1;
}

.fader-animation.ng-enter,
.fader-animation.ng-leave.ng-leave-active {
opacity: 0;
}

.fader-animation.ng-enter.ng-enter-active {
    opacity: 1;
}

.fader-animation.ng-move {
opacity:0.5;
}
.fader-animation.ng-move.ng-move-active {
opacity:1;
}

.dissolve-animation.ng-hide-remove {
display: inline!important;
}

.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
-webkit-transition: 0.8s linear all;
-moz-transition: 0.8s linear all;
-o-transition: 0.8s linear all;
transition: 0.8s linear all;
}

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
    opacity: 1;
}

    .dissolve-animation.ng-hide-add.ng-hide-add-active,
    .dissolve-animation.ng-hide-remove {
        opacity: 0;
    }


/*#region toastr */
#toast-container.toast-top-full-width > div, #toast-container.toast-bottom-full-width > div {
margin: 4px auto;
}

.carousel-caption {
    position: relative;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    margin: 0 auto;
    height: 140px;
}

.carousel-control {
    border-radius: 23px !important;
}

a {
    cursor: pointer;
}

/*#endregion */
/*bootstrap custom*/

.navbar{background:#10132991 !important;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#ec9214;transition: 0.4s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color:#ec9214;}
.nav-link{padding:15px 5px;font-weight: 600; transition:0.4s;}
.dropdown-item.active, .dropdown-item:active{color:#dbdbdb;}
.dropdown-item:focus, .dropdown-item:hover{background:#080808e5; color: #ec9214;}

body {
    background-color: #000000 !important;
    background:url('../content/assets/swg_logo.png');
    background-position-x: 60%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: 275px;
    color: #FFF;
    padding-top: 72px;
    /* padding:50px; */
}

.ddLabel {
    text-decoration: none !important;
    color: #000000 !important;
    font-weight: bold !important;
    cursor: text !important;
}

hr {
    color: #FFF;
}

.btn-outline-warning {
    color: #ec9214 !important;
    border-color: #ec9214 !important;
}
.btn-outline-warning:hover {
    background-color: #b3b3b8 !important;
}
.btn-outline-warning::after {
    color: #ec9214 !important;
    border-color: #000000 !important;
}

.sourceLogo {
    font-weight: bold !important;
    font-size: 30px !important;
    font-family: 'Roboto Slab',serif !important;
    color: #FFF !important;
    text-transform: uppercase !important;
}

:disabled {
    opacity: .5 !important;
    font-weight: initial !important;
    font-size: initial !important;
    cursor: not-allowed !important;
}

.jumbotron {
    background-color: #2b3247b6;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(197, 197, 197, 0.76);
    border-radius: 10px;
}
#login-dp .help-block{
    font-size:14px;
}
#login-dp .bottom{
    background-color:rgba(250, 250, 250, 0.322);
    border-top:1px solid rgb(223, 223, 223);
    clear:both;
    padding:10px;
    margin-left: 15%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#login-dp .form-group {
    margin-bottom: 5px;
}
.btn-fb{
    color: #fff;
    background-color:#1c3b7e;
}
.btn-fb:hover{
    color: #fff;
    background-color:#0f2557;
    font-weight: 700;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    -ms-transition: background .3s;
    transition: background .3s;
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.text-effect-bigOrange {
    display: block;
    text-align: center;
    font-size: 75px;
    font-weight: 700;
    line-height: 0.8;
    color: #fb2a2a;
    margin: 10px 0 30px;
    text-shadow: 0 -1px 15px rgba(0, 0, 0, 0.9), 0 1px 0 #7f6303, 0 3px 0 #846703, 0 5px 0 #896b03, 0 7px 0 #8e6f03, 0 9px 0 #937203, 0 6px 50px rgba(252, 223, 92, 0.8);
    -webkit-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    -moz-transform: perspective(2.5em) rotateX(15deg) scaleY(0.8);
    transform: perspective(2.5em) rotateX(5deg) scaleY(0.8);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
@media only screen and (max-width: 767px) {
    .text-effect-bigOrange { font-size: 60px; }
}
@media only screen and (max-width: 479px) {
    .text-effect-bigOrange {
        font-size: 48px;
        line-height: 1.2;
    }
}

div#LoginForm{ background-image:url("../content/assets/Bestine.png"); background-repeat:no-repeat; background-position:center; background-size:cover; padding:10px; height: 750px;}

.formBox {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #383838c5;
    padding: 20px;
    height: 375px;
    width: 675px;
    color: #18768d;
    font-weight: 700;
    text-align: center;
}

.formBox > input {
    min-height: 150px !important;
    min-width: 400px !important;
}