<section data-ng-controller="staff as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12">
                        <center>
                            <h1 class="text-effect-bigOrange">SWGSource Developers</h1>
                        </center>
                        <hr class="my-4 btn-light">
                        <div class="row">
                            <div class="col-12">
                                <div allow-collapse="true"></div>
                                <div class="text-center text-info">
                                    <!-- <carousel class="carousel-inner" interval="vm.pictures.interval">
                                <slide data-ng-repeat="s in vm.pictures.list" active="s.active">
                                    <img data-swg-img-player="{{s.imageSource}}" class="img-polaroid" height="320px;" width="270px;" style="border-radius: 20px; margin-left: 5%;"
                                    />
                                    <div class="carousel-caption" style="border-radius: 20px;">
                                        <h4>{{s.fullName}}</h4>
                                    </div>
                                </slide>
                            </carousel> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <carousel class="carousel-inner" interval="vm.staffBio.interval">
                                <slide data-ng-repeat="s in vm.staffBio.list" active="s.active">
                                    <figure class="snip0067 {{s.bioColor}}">
                                        <img data-swg-img-staff="{{s.imageSource}}" alt="devBio" height="400px;" width="509px;" />
                                        <figcaption>
                                            <h2>{{s.firstName}}
                                                <span>{{s.lastName}}</span>
                                            </h2>
                                            <p>{{s.bio}}</p>
                                            <div class="icons">
                                                <a href="{{s.devSite}}">
                                                    <i class="ion-ios-home"></i>
                                                </a>
                                                <a href="{{s.devEmail}}">
                                                    <i class="ion-email-unread"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="ion-ios-star"></i>
                                                </a>
                                            </div>
                                        </figcaption>
                                        <div class="position">{{s.position}}</div>
                                    </figure>
                                </slide>
                            </carousel>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        <a data-ng-click="vm.content.setSort('track')" href="">Placeholder</a>
                    </th>
                    <th>
                        <a data-ng-click="vm.content.setSort('count')" href="">Guilds</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="t in vm.content.tracks | orderBy:vm.content.predicate:vm.content.reverse">
                    <td>{{t.track}}</td>
                    <td>{{t.count}}</td>
                </tr>
            </tbody>
        </table> -->