<section data-ng-controller="signupCtrl as vm">
    <div class="container-fluid" id="LoginForm">
        <center>
            <div class="formBox">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <!-- Placeholder -->
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h4 class="text-primary">Sign Up</h4>
                        <br>
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="InputUser" ng-model="vm.user.username" aria-describedby="userHelp" placeholder="Username"
                                    required>
                                <small id="userHelp" class="form-text text-muted">
                                    <span style="background-color: rgba(0, 0, 0, 0.514); border-radius: 15px; padding-left: 10px; padding-right: 10px;">Used to Sign into SWG.</span>
                                </small>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="InputEmail" ng-model="vm.user.email" aria-describedby="emailHelp" placeholder="Email Address"
                                    required>
                                <small id="emailHelp" class="form-text text-muted"></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="InputPassword" ng-model="vm.user.password" placeholder="Password" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="InputPassword" ng-model="vm.confPassword" placeholder="Confirm Password"
                                    required>
                            </div>
                            <button class="btn btn-dark btn-outline-success" ng-disabled="!vm.user.username || (vm.user.username.length < 4) || !vm.user.email || !vm.user.password || (vm.user.password.length < 6) || vm.user.password !== vm.confPassword"
                                ng-click="vm.signup(vm.user)">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <!-- Placeholder -->
                    </div>
                </div>
            </div>
        </center>
    </div>
</section>